{
    "admin_password": "rods",
    "server_config": {
        "rule_engine_namespaces": [
            "",
            "audit_",
            "indexing_"
        ],
        "advanced_settings": {
            "default_log_rotation_in_days": 5,
            "transfer_chunk_size_for_parallel_transfer_in_megabytes": 40,
            "default_number_of_transfer_threads": 4,
            "maximum_size_for_single_buffer_in_megabytes": 32,
            "default_temporary_password_lifetime_in_seconds": 120,
            "rule_engine_server_execution_time_in_seconds": 120,
            "maximum_number_of_concurrent_rule_engine_server_processes": 4,
            "maximum_temporary_password_lifetime_in_seconds": 1000,
            "rule_engine_server_sleep_time_in_seconds": 30,
            "transfer_buffer_size_for_parallel_transfer_in_megabytes": 4
        },
        "catalog_service_role": "provider",
        "catalog_provider_hosts": [
            "{{ ansible_fqdn }}"
        ],
        "default_dir_mode": "0750",
        "default_file_mode": "0600",
        "plugin_configuration": {
            "authentication": {},
            "database": {
                "postgres": {
                    "db_host": "{{ postgres_client_host }}",
                    "db_password": "{{ postgres_client_password }}",
                    "db_name": "{{ postgres_client_db }}",
                    "db_odbc_driver": "{{ irods_odbc_driver }}",
                    "db_port": {{ postgres_client_port|default(5432) }},
                    "db_username": "{{ postgres_client_user}}"
                }
            },
            "network": {},
            "resource": {},
            "rule_engines": [
                {
                    "instance_name": "irods_rule_engine_plugin-irods_rule_language-instance",
                    "plugin_specific_configuration": {
                        "re_data_variable_mapping_set": [
                            "core"
                        ],
                        "re_function_name_mapping_set": [
                            "core"
                        ],
                        "re_rulebase_set": [
                            "sodar",
                            "core"
                        ],
                        "regexes_for_supported_peps": [
                            "ac[^ ]*",
                            "msi[^ ]*",
                            "[^ ]*pep_[^ ]*_(pre|post)"
                        ]
                    },
                    "plugin_name": "irods_rule_engine_plugin-irods_rule_language",
                    "shared_memory_instance": "irods_rule_language_rule_engine"
                },
                {
                    "instance_name": "irods_rule_engine_plugin-cpp_default_policy-instance",
                    "plugin_specific_configuration": {},
                    "plugin_name": "irods_rule_engine_plugin-cpp_default_policy"
                }
            ]
        },
        "environment_variables": {
            "IRODS_DATABASE_USER_PASSWORD_SALT": "{{ irods_password_salt }}"
        },
        "default_hash_scheme": "MD5",
        "xmsg_port": 1279,
        "schema_validation_base_uri": "file:///var/lib/irods/configuration_schemas",
        "default_resource_name": "demoResc",
        "federation": [],
        "server_control_plane_timeout_milliseconds": 10000,
        "schema_name": "server_config",
        "negotiation_key": "{{ irods_negotiation_key }}",
        "zone_key": "{{ irods_zone_key }}",
        "match_hash_policy": "compatible",
        "zone_user": "rods",
        "schema_version": "v3",
        "server_control_plane_encryption_algorithm": "AES-256-CBC",
        "server_control_plane_encryption_num_hash_rounds": 16,
        "server_port_range_end": 20199,
        "server_control_plane_key": "{{ irods_control_plane_key }}",
        "server_control_plane_port": 1248,
        "server_port_range_start": 20000,
        "zone_auth_scheme": "native",
        "zone_name": "{{ irods_zone_name }}",
        "zone_port": 1247
    },
    "hosts_config": {
        "schema_name": "hosts_config",
        "host_entries": [],
        "schema_version": "v3"
    },
    "host_access_control_config": {
        "schema_name": "host_access_control_config",
        "schema_version": "v3",
        "access_entries": []
    },
    "host_system_information": {
        "service_account_user_name": "irods",
        "os_distribution_name": "debian",
        "service_account_group_name": "irods",
        "uname": "SYS_NAME=Linux;NODE_NAME={{ ansible_hostname }};RELEASE=3.16.0-4-amd64;VERSION=#1 SMP Debian 3.16.39-1 (2016-12-30);MACHINE=x86_64",
        "hostname": "{{ ansible_hostname }}",
        "os_distribution_version": "8.7"
    },
    "service_account_environment": {
        "irods_server_control_plane_encryption_algorithm": "AES-256-CBC",
        "irods_client_server_negotiation": "request_server_negotiation",
        "irods_server_control_plane_key": "{{ irods_control_plane_key }}",
        "irods_transfer_buffer_size_for_parallel_transfer_in_megabytes": 4,
        "irods_default_resource": "demoResc",
        "irods_client_server_policy": "CS_NEG_REFUSE",
        "irods_default_number_of_transfer_threads": 4,
        "irods_cwd": "/{{ irods_zone_name }}/home/rods",
        "irods_encryption_salt_size": 8,
        "irods_default_hash_scheme": "SHA256",
        "schema_version": "v3",
        "irods_encryption_algorithm": "AES-256-CBC",
        "irods_encryption_key_size": 32,
        "irods_port": 1247,
        "irods_encryption_num_hash_rounds": 16,
        "irods_home": "/{{ irods_zone_name }}/home/rods",
        "irods_host": "{{ ansible_fqdn }}",
        "irods_zone_name": "{{ irods_zone_name }}",
        "irods_match_hash_policy": "compatible",
        "irods_maximum_size_for_single_buffer_in_megabytes": 32,
        "irods_server_control_plane_encryption_num_hash_rounds": 16,
        "irods_server_control_plane_port": 1248,
        "irods_user_name": "rods",
        "schema_name": "irods_environment"
    }
}
